<mat-grid-list cols="2" rowHeight="65px">
  <form class="user-auth-form" [formGroup]="basicInfo" (ngSubmit)="submit(basicInfo.value)">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Student Name</mat-label>
        <input matInput placeholder="Student Name" formControlName="name">  
        <mat-error *ngIf="basicInfo.get('name').hasError('required')">
          Name is Required.
        </mat-error>     
        <mat-error *ngIf="basicInfo.get('name').hasError('maxlength')">
          Name must be at max 56 characters long.
        </mat-error>    
        <mat-error *ngIf="basicInfo.get('name').hasError('pattern')">
        Name must follow proper pattern.
        </mat-error>     
        </mat-form-field>      
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" appearance="outline">
        <mat-error *ngIf="basicInfo.get('email').hasError('required')">
          Email is Required.
        </mat-error>     
        <mat-error *ngIf="basicInfo.get('email').hasError('maxlength')">
          Email must be at max 56 characters long.
        </mat-error>    
        <mat-error *ngIf="basicInfo.get('email').hasError('pattern')">
           Email must follow proper pattern.
        </mat-error>    
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Mobile</mat-label>
        <input type="tel" matInput placeholder="Mobile Number" formControlName="mobile">
        <mat-error *ngIf="basicInfo.get('mobile').hasError('required')">
          Mobile number is Required.
        </mat-error>     
        <mat-error *ngIf="basicInfo.get('mobile').hasError('maxlength')">
          Mobile number must be at max 56 characters long.
        </mat-error>    
        <mat-error *ngIf="basicInfo.get('mobile').hasError('pattern')">
          Mobile number must follow proper pattern.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>     
        <mat-form-field class="example-full-width">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Choose a date">
          <mat-error *ngIf="basicInfo.get('dob').hasError('required')">
            Date Of Birth is Required.
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>      
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-label style="margin-right: 10px;">Gender:</mat-label>
      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="1">Male</mat-radio-button>
        <mat-radio-button value="2">Female</mat-radio-button>
        <mat-radio-button value="3">Other</mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width" *ngIf="basicInfo.value.gender == '3'">
        <mat-label>Other</mat-label>
        <input matInput placeholder="Other" formControlName="other">
        <mat-error *ngIf="basicInfo.get('other').hasError('required')">
          This field is Required.
        </mat-error> 
        <mat-error *ngIf="basicInfo.get('other').hasError('maxlength')">
          Type must be at max 12 characters long.
        </mat-error>
        <mat-error *ngIf="basicInfo.get('other').hasError('pattern')">
          Text type must follow proper pattern.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <button type="submit" mat-raised-button color="primary">Next</button>
  </mat-grid-tile>
  </form>
</mat-grid-list>
