<mat-grid-list cols="2" rowHeight="65px">
  <form class="user-auth-form" [formGroup]="addressInfo" (ngSubmit)="submit(addressInfo.value)">
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address Line 1" formControlName="address">
        <mat-error *ngIf="addressInfo.get('address').hasError('required')">
          Address is Required.
        </mat-error>     
        <mat-error *ngIf="addressInfo.get('address').hasError('maxlength')">
          Address must be at max 256 characters long.
        </mat-error>  
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Aditional</mat-label>
        <input matInput placeholder="Address Line 2" formControlName="additional">             
        <mat-error *ngIf="addressInfo.get('address').hasError('maxlength')">
          Address must be at max 256 characters long.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Pin Code</mat-label>
        <input matInput placeholder="Pin Code" formControlName="pinCode">
        <mat-error *ngIf="addressInfo.get('pinCode').hasError('required')">
          Pin code is Required.
        </mat-error>     
        <mat-error *ngIf="addressInfo.get('pinCode').hasError('minLength')">
          Pin code must be at min 6 characters.
        </mat-error> 
        <mat-error *ngIf="addressInfo.get('pinCode').hasError('maxlength')">
          Pin code must be at max 6 characters long.
        </mat-error> 
        <mat-error *ngIf="addressInfo.get('pinCode').hasError('pattern')">
          Pin code must be a number.
        </mat-error> 
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city">
        <mat-error *ngIf="addressInfo.get('city').hasError('required')">
         City is Required.
        </mat-error>  
        <mat-error *ngIf="addressInfo.get('city').hasError('maxLength')">
          City must be at max 56 characters.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state">
        <mat-error *ngIf="addressInfo.get('state').hasError('required')">
          State is Required.
        </mat-error>  
        <mat-error *ngIf="addressInfo.get('state').hasError('maxLength')">
          State must be at max 56 characters.
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </mat-grid-tile>
  </form>
</mat-grid-list>
